.fields {
    display: flex;
}
.field input {
    height: 3rem;
    font-size: large;
    color: blue;
}
.bold {
    font-weight: bold;
}
.btn {
    margin: 2em;
}

@media screen and (max-width: 600px) {
    .fields {
        width: 100%;
        display: block;
    }
}
@media screen and (max-width: 1000px) and (min-width: 601px) {
    .fields {
        display: flex;
    }
}

@media screen and (max-width: 2000px) and (min-width: 1001px) {
    .fields {
        display: flex;
    }
}
