.container{
    text-align: center;
    width: fit-content;
    margin: auto;
    /* border: 5px #000fff solid; */
    padding: 1rem;
  
}

.fields {
    display: inline-grid;
    /* color: white; */
}

.mr {
    margin: 1rem
}

.padding {
    padding: 1rem;
}

@media screen and (min-width: 360px){
    .container {
      width: 80%;
    }
 }